/assets
/bin
/gen
ic_action_close.zip
ic_action_gallery.zip
ic_action_home.zip
ic_action_ok.zip
ic_action_photo.zip
ic_action_preferences.zip
ic_action_refresh.zip
ic_action_write.zip
have_video.png