<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.android.hellslade.autochmo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <application
        android:name=".AutochmoApplication"
        android:icon="@drawable/ic_launcher_autochmo"
        android:label="@string/app_name"
        android:theme="@style/Theme.SherlockCustom" >
    
        <activity
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:label="@string/app_name_lenta"
            android:name=".LentaActivity" 
            ></activity>
        <activity
            android:screenOrientation="portrait"
            android:label="@string/app_name_fact"
            android:name=".FactActivity" 
            ></activity>
        <activity
            android:screenOrientation="portrait"
            android:label="@string/app_name_settings"
            android:name=".SettingsActivity" 
            ></activity>
        <activity
            android:screenOrientation="unspecified"
            android:label="@string/app_name_add_fact"
            android:name=".FactAddActivity" 
            ></activity>
        <activity
            android:screenOrientation="portrait"
            android:label="@string/app_name_add_comment"
            android:name=".CommentAddActivity" 
            ></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />  
</manifest>